html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


h4 {
    font-size: 2em;
    color: #262626;
    font-weight: bold;
}

#navcontact {
    padding-left: 10px;
}

#mybrand {
    color: #262626;
}


#frame 
{
   padding: 0;
   height: 767px;
   width: 100%;
   /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
   background: #f6f6f6;
}

#card-container
{
    transition: box-shadow 83ms;
    border-radius: 5px;
    overflow: visible;
    position: relative;
}

.card
{
    background-color: #fff;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 10px;
    align-items: center;
}

.circular-landscape {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
  
.circular-landscape img {
    width: 100%;
    height: auto;
    /* margin-left: -50px; */
}


#particles-js
{
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,#6360c6 0%,#1f6be4 100%);
    overflow: hidden;
    position: absolute;
}

#up
{
    color: #fff;
    background: orange;
    display: none;
    position: fixed;
    cursor: pointer;
    border: none;
    outline: none;
    bottom: 40%;
    right: 2%;
    z-index: 99;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 18px;
}

#up:hover {
    color: #fff;
}

.progress {
    width: 100%;
    height: 20px;
}

.progress-bar {
    background-color: orange;
    color: white;
    height:20px;
    padding: 5px;
}

.smed li i
{
    color: #262626;
    margin: 10px;
    font-size: 15px;
}

.smed li a
{
    color: #262626;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

footer
{
    align-items: center;
    color: #fff;
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727; 
    padding: 30px 0px;
}


#footer-main .smed h2
{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    padding-left: 10px;
}

#footer-main .smed a i
{
    margin: 10px;
    /* padding: 10px; */
    font-size: 40px;
    color: #fff;
}

#footer-main .smed a i:hover
{
    color: #e42448;
}

#footer-main p a
{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}

#footer-main p a:hover
{
    color: #00b7ff;
    text-decoration: none;
}

#footer-main .ftext
{
    margin: 10px;
    padding:20px;
    font-size: 15px;
    color: #fff;
}
